@model TeacherLoad.Core.Models.IndividualStudies

@{
    ViewData["Title"] = "EditIndividualStudy";
}

<h2>EditIndividualStudy</h2>

<h4>IndividualStudies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IndividualClassID" />
            <div class="form-group">
                <label asp-for="IndividualClassName" class="control-label"></label>
                <input asp-for="IndividualClassName" class="form-control" />
                <span asp-validation-for="IndividualClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeByPerson" class="control-label"></label>
                <input asp-for="VolumeByPerson" class="form-control" />
                <span asp-validation-for="VolumeByPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

