@model IEnumerable<TeacherLoad.Core.Models.IndividualStudies>

@{
    ViewData["Title"] = "Индивидуальные занятия";
}
<h2>Виды индивидуальных занятий</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Добавить вид занятий</a>
</p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndividualClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IndividualClassName)
                </td>
                <td>
                    <a class="btn-sm btn-success" asp-action="Edit" asp-route-id="@item.IndividualClassID">
                        <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>
                        Редактировать
                    </a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IndividualClassID">
                        <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                        Удалить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
