@model IEnumerable<TeacherLoad.Core.Models.IndividualStudies>

@{
    ViewData["Title"] = "Индивидуальные занятия";
}
<h2>Виды индивидуальных занятий</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Добавить вид занятий</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndividualClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IndividualClassName)
                </td>
                <td>
                    @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = item.IndividualClassID );}                   
                </td>
            </tr>
        }
    </tbody>
</table>
