@model IEnumerable<TeacherLoad.Core.Models.Discipline>

@{
    ViewData["Title"] = "Дисциплины";
}

<h2>Дисциплины</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить дисциплину</a>
</p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineName)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.DisciplineID">
                    <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>
                    Редактировать</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DisciplineID"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                    Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
