@model IEnumerable<TeacherLoad.Core.Models.Discipline>

@{
    ViewData["Title"] = "Дисциплины";
}

<h2>Дисциплины</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить дисциплину</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineName)
                </td>
                <td>
                    @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = item.DisciplineID);}
                </td>
            </tr>
        }
    </tbody>
</table>
