@model IEnumerable<TeacherLoad.Core.Models.Discipline>

@{
    ViewData["Title"] = "Дисциплины";
}

<h2>Дисциплины</h2>

<div class="modal fade" id="add-discipline" tabindex="-1" role="dialog" 
        aria-labelledby="addDisciplineLabel" aria-hidden="true">
    <div id="dialog-content" class="modal-dialog" role="document"></div>
</div>
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-discipline"
            data-url="@Url.Action("Create")">
        Добавить дисциплину
    </button>
</p>

@{await Html.RenderPartialAsync("_Disciplines", Model);}
