@model IEnumerable<TeacherLoad.Core.Models.Discipline>

@{
    ViewData["Title"] = "Дисциплины";
}

<h2>Дисциплины</h2>

<p>
    <a asp-action="Create">Добавить дисциплину</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DisciplineID">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.DisciplineID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
