@model TeacherLoad.Core.Models.Speciality

@{
    ViewData["Title"] = "Специальность";
}

<h4>Редактирование специальности</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="SpecialityName" class="control-label"></label>
                <input asp-for="SpecialityName" class="form-control" />
                <span asp-validation-for="SpecialityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>
