@model IEnumerable<TeacherLoad.Core.Models.Speciality>

@{
    ViewData["Title"] = "Специальности";
}

<h2>Специальности</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Добавить специальность</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialityName)
                </td>
                <td>
                    @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = item.Code);}
                </td>
            </tr>
        }
    </tbody>
</table>
