@model IEnumerable<TeacherLoad.Core.Models.Position>

@{
    ViewData["Title"] = "Должности";
}

<h2>Должности</h2>

<p>
    <a asp-action="Create">Добавить должность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PositionID">Редактировать</a> |                
                <a asp-action="Delete" asp-route-id="@item.PositionID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
