@model IEnumerable<TeacherLoad.Core.Models.Position>

@{
    ViewData["Title"] = "Должности";
}

<h2>Должности преподавателей</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Добавить должность</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = item.PositionID);}
                </td>
            </tr>
        }
    </tbody>
</table>
