@model TeacherLoadApp.Models.RegisterViewModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<body class="text-center">
    <form class="form-signin" method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <h1 class="h3 mb-3 font-weight-normal">Регистрация нового пользователя</h1>
        <label asp-for="Username" class="sr-only">Login</label>
        <input asp-for="Username" class="form-control" placeholder="Логин" required autofocus>
        <span asp-validation-for="Username"></span>
        <br />
        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" id="inputPasswordRegister" type="password" class="form-control" placeholder="Пароль" required>
        <span asp-validation-for="Password"></span>
        <label asp-for="PasswordConfirm" class="sr-only">Password</label>
        <input asp-for="PasswordConfirm" id="confirmPassword" type="password" class="form-control" placeholder="Подтвердите пароль" required>
        <span asp-validation-for="PasswordConfirm"></span>
        <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
    </form>

</body>