@model TeacherLoadApp.Models.PersonalLoadVM

@{
    ViewData["Title"] = "Индивидуальная нагрузка";
}

<h2>Добавление индивидуальной нагрузки</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{ await Html.RenderPartialAsync("EditPersonalLoadPartial", Model);}
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(() => calculate('@Url.Action("CalculateHours")'));    
    </script>
}