@model TeacherLoad.Core.Models.PersonalLoad

@{
    ViewData["Title"] = "Индивидуальная нагрузка";
}

<h2>Добавление индивидуальной нагрузки</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeacherID" class="control-label"></label>
                <select asp-for="TeacherID" class="form-control" asp-items="ViewBag.Teachers"></select>
            </div>
            <div class="form-group">
                <label asp-for="IndividualClassID" class="control-label"></label>
                <select onchange="calculate()" id="classType" asp-for="IndividualClassID" class="form-control" asp-items="ViewBag.Classes"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentsCount" class="control-label"></label>
                <input onclick="calculate()" onchange="calculate()" id="studentCount" type="number" min="1" max="40" value="1" asp-for="StudentsCount" class="form-control" />
                <span asp-validation-for="StudentsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVolume" class="control-label"></label>
                <input readonly="readonly" id="totalVolume" asp-for="TotalVolume" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(calculate());

        function calculate()
        {            
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CalculateHours")',
                data: { classID: $("#classType").val(), count: $("#studentCount").val() },
                success: function (data) {                   
                    $('#totalVolume').val(data);
                }
            });
        };
    </script>
}


