@model TeacherLoad.Core.Models.PersonalLoad

@{
    ViewData["Title"] = "Индивидуальная нагрузка";
}

<h2>Редактирование индивидуальной нагрузки</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentsCount" class="control-label"></label>
                <input asp-for="StudentsCount" class="form-control" />
                <span asp-validation-for="StudentsCount" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TeacherID" />
            <input type="hidden" asp-for="IndividualClassID" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>

