@model TeacherLoadApp.Models.PersonalLoadVM

@{
    ViewData["Title"] = "Индивидуальная нагрузка";
}

<h2>Редактирование индивидуальной нагрузки</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonalLoad.PersonalLoadID" />
            @{ await Html.RenderPartialAsync("_EditPersonalLoad", Model);}
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(() => calculate('@Url.Action("CalculateHours")'));   
    </script>
}
