@model TeacherLoad.Core.Models.Teacher

@{
    ViewData["Title"] = "Преподаватель";
}

<div class="row panel panel-default panel-mt">
    <div class="panel-heading">
        <h4>Добавление нового преподавателя</h4>
    </div>    
    <div class="panel-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input placeholder="Фамилия" asp-for="LastName" class="form-control" required autofocus />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input placeholder="Имя" asp-for="FirstName" class="form-control" required/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="Patronym" class="control-label"></label>
                    <input placeholder="Отчество" asp-for="Patronym" class="form-control" required/>
                    <span asp-validation-for="Patronym" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="DepartmentID" class="control-label"></label>
                    <select asp-for="DepartmentID" class="form-control form" asp-items="ViewBag.DepartmentID"></select>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="PositionID" class="control-label"></label>
                    <select asp-for="PositionID" class="form-control" asp-items="ViewBag.PositionID"></select>
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-left: 10px;">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>