
body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav {
    float: right;
}

.btn-logoff {
    padding: 0;
    border: none;
    font: inherit;
    color: #e8e8e8;
    background-color: transparent;
    margin: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
}

table > .thead-light {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.btn-label {
    position: relative;
    left: -3px;
}


