
body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav {
    float: right;
}

.btn-logoff {
    padding: 0;
    border: none;
    font: inherit;
    color: #e8e8e8;
    background-color: transparent;
    margin: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #336aa0;
}

table > .thead-light {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.btn-label {
    position: relative;
    left: -3px;
}

.editUser-block {
    display: flex; 
    flex-direction: column; 
    justify-content: center;     
}

.editUser-checkboxes {
    margin-top: 15px;
    margin-bottom: 25px;
}

.teachers-listbox {
    height: 80vh;
    width: 20%;
    margin: 15px;
    overflow: auto;
    left: 10px;
    display: inline-block;
    position: absolute;
}

.table-holder {
    width: 75%;
    margin: 15px;
    display: inline-block;
    position: absolute;
    right: 10px;
}

.card-icon {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

.card {
    text-align: center;
    width: 250px;
    height: 200px;
    margin: 10px;
    margin-top: 20px;
}

.card-text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.panel-mt {
    margin-top: 20px;
}
