@model TeacherLoadApp.Models.GroupLoadVM

<div class="form-group">
    <label asp-for="GroupLoad.TeacherID" class="control-label"></label>
    <select asp-for="GroupLoad.TeacherID" class="form-control" asp-items="Model.Teachers"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.DisciplineID" class="control-label"></label>
    <select asp-for="GroupLoad.DisciplineID" class="form-control" asp-items="Model.Disciplines"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.GroupStudiesID" class="control-label"></label>
    <select asp-for="GroupLoad.GroupStudiesID" class="form-control" asp-items="Model.GroupStudies"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.StudyYear" class="control-label"></label>
    <select asp-for="GroupLoad.StudyYear" class="form-control selected-year" asp-items="Model.StudyYears"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.GroupNumber" class="control-label"></label>
    <select asp-for="GroupLoad.GroupNumber" class="form-control groups" asp-items="Model.Groups"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.Semester" class="control-label"></label>
    <select asp-for="GroupLoad.Semester" class="form-control"
            asp-items="Model.Semesters"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.StudyType" class="control-label"></label>
    <select asp-for="GroupLoad.StudyType" class="form-control"
            asp-items="Model.StudyTypes"></select>
</div>
<div class="form-group">
    <label asp-for="GroupLoad.VolumeHours" class="control-label"></label>
    <input type="number" min="1" max="32" value="@Model.GroupLoad?.VolumeHours" asp-for="GroupLoad.VolumeHours" class="form-control" />
    <span asp-validation-for="GroupLoad.VolumeHours" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Сохранить" class="btn btn-success" />
    <a class="btn btn-primary" asp-action="Index">Отменить</a>
</div>