@model TeacherLoadApp.Models.GroupLoadVM

@{
    ViewData["Title"] = "Групповая нагрузка";
}

<h2>Добавление групповой нагрузки</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{ await Html.RenderPartialAsync("_EditGroupLoad",Model);}
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">       
         $(document).ready(function () {
            const url = "@Url.Action("GetGroupsByCourse")";
            const selectedYear = $(".selected-year");
            var year = selectedYear.val();
            console.log(year);
            getGroupsByCourse(url, year, '.groups');

            selectedYear.change(function () {
                console.log(year);
                getGroupsByCourse(url, selectedYear.val(), '.groups');
            });
        });
    </script>
}
