@model TeacherLoadApp.Models.GroupLoadVM

@{
    ViewData["Title"] = "Групповая нагрузка";
}

<h2>Добавление групповой нагрузки</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{ await Html.RenderPartialAsync("_EditGroupLoadPartial",Model);}
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            const url = "@Url.Action("GetGroupsByCourse")";
            const year = $(".selected-year").val();
            getGroupsByCourse(url,year);

            $(".selected-year").change( () => getGroupsByCourse(url,year));
        });
    </script>
}
