@model TeacherLoadApp.Models.GroupLoadVM

@{
    ViewData["Title"] = "Групповая нагрузка";
}

<h2>Редактирование групповой нагрузки</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupLoad.GroupLoadID" />
            @{ await Html.RenderPartialAsync("_EditGroupLoadPartial", Model); }
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            const url = "@Url.Action("GetGroupsByCourse")";
            getGroupsByCourse(url);

            $(".selected-year").change(function () {
                getGroupsByCourse(url);
            });
        });
    </script>
}