@model TeacherLoad.Core.Models.GroupLoad

@{
    ViewData["Title"] = "Групповая нагрузка";
}

<h2>Редактирование групповой нагрузки</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VolumeHours" class="control-label"></label>
                <input type="number" min="1" max="32" value="1" asp-for="VolumeHours" class="form-control" />
                <span asp-validation-for="VolumeHours" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Semester" />
            <input type="hidden" asp-for="StudyType" />
            <input type="hidden" asp-for="StudyYear" />
            <input type="hidden" asp-for="TeacherID" />
            <input type="hidden" asp-for="DisciplineID" />
            <input type="hidden" asp-for="GroupNumber" />
            <input type="hidden" asp-for="GroupStudiesID" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>

