@model TeacherLoadApp.Models.Groups.StudyGroupVM

@{
    ViewData["Title"] = "Добавление учебной группы";
}

<h2>Добавление группы</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">
                <label asp-for="Group.GroupNumber" class="control-label"></label>
                <input asp-for="Group.GroupNumber" class="form-control" required autofocus/>
                <span asp-validation-for="Group.GroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.SpecialityCode" class="control-label"></label>
                <select asp-for="Group.SpecialityCode" class="form-control" asp-items="Model.Specialities"></select>
            </div>
            <div class="form-group">
                <label asp-for="Group.StudentsCount" class="control-label"></label>
                <input type="number" min="1" max="25" asp-for="Group.StudentsCount" value="1" class="form-control" />
                <span asp-validation-for="Group.StudentsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>
