@model TeacherLoadApp.Models.Groups.StudyGroupVM

@{
    ViewData["Title"] = "Учебная группа";
}

<h2>Редактирование группы</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.GroupNumber" class="control-label"></label>                
                <label>@Html.DisplayFor(model => model.Group.GroupNumber)</label>
            </div>
            <div class="form-group">
                <label asp-for="Group.SpecialityCode" class="control-label"></label>
                <label>@Html.DisplayFor(model => model.Group.SpecialityCode)</label>
            </div>
            <div class="form-group">
                <label asp-for="Group.StudentsCount" class="control-label"></label>
                <input type="number" min="1" max="25" value="@Model.Group?.StudentsCount" asp-for="Group.StudentsCount" class="form-control" />
                <span asp-validation-for="Group.StudentsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Отменить</a>
            </div>
        </form>
    </div>
</div>
