@model TeacherLoadApp.Models.GroupsIndexVM

@{
    ViewData["Title"] = "Учебные группы";
}

<h2>Учебные группы</h2>

<div class="form-inline" style="margin: 20px auto;">
    <a class="btn btn-primary" asp-action="Create">Добавить группу</a>
    <label class="control-label">Курс</label>
    @Html.DropDownList("Year", Model.Years, new { @class = "form-control selected-year" })
</div>

<div id="content">
    @{ await Html.RenderPartialAsync("GroupsListPartial", Model);}
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedYear = $('.selected-year');

            selectedYear.change(() =>
                getGroupsByCourse('@Url.Action("Index")', selectedYear.val(), '#content'));
        });
    </script>
}

