@model TeacherLoadApp.Models.Groups.GroupDisciplinesVM
@{
    ViewData["Title"] = "Дисциплины группы";    
}

<h2>Список учебных дисциплин группы</h2>

<div class="form-inline" style="margin: 20px auto;">
    <label class="control-label">Группа</label>
    @Html.DropDownList("GroupNumber", Model.Groups, new { @class = "form-control selected-group"})
</div>

<div id="content">
       @{ await Html.RenderPartialAsync("_GroupDisciplines",Model.GroupDisciplines); }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedGroup = $(".selected-group");
            
            selectedGroup.change(() => {
                getDisciplinesByGroup('', selectedGroup.val());
            });                    
        });
    </script>
}
