@model TeacherLoadApp.Models.LoginViewModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<body class="text-center">
    <form class="form-signin" method="post" asp-controller="Users" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <h1 class="h3 mb-3 font-weight-normal marg">Войдите, пожалуйста</h1>
        <label asp-for="Username" class="sr-only">Login</label>
        <input asp-for="Username" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
        <span asp-validation-for="Username"></span>
        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Пароль" required />
        <span asp-validation-for="Password"></span>
        <div class="checkbox mb-3">
            <label>
                <input asp-for="RememberMe" type="checkbox"> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Войти</button>
    </form>
    @Html.ValidationMessage("WrongData", new { @class = "alert-danger" })
</body>


