@using Microsoft.AspNetCore.Identity
@inject SignInManager<TeacherLoad.Core.Models.ApplicationUser> SignInManager
@inject UserManager<TeacherLoad.Core.Models.ApplicationUser> UserManager

@if (User.IsInRole("Администратор") || User.IsInRole("Оператор"))
{
<div style="float: right;">
    <a class="btn-sm btn-success" asp-action="Edit" asp-route-id="@ViewData["id"]">
        <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>
        Изменить
    </a>
    <a style="margin-left: 5px;" class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@ViewData["id"]">
        <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
        Удалить
    </a>
</div>
}