@model TeacherLoad.Core.Models.PersonalLoad

<div id="totalVolume" class="form-group">
    <label asp-for="TotalVolume" class="control-label"></label>
    <input id="totalVolume" asp-for="TotalVolume" class="form-control" />
</div>