@model TeacherLoad.Core.Models.GroupStudies

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupClassName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupClassName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div style="margin-bottom: 20px;">
            <input type="hidden" asp-for="GroupClassID" />
            <span asp-validation-for="GroupClassID" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="GroupClassID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Отменить</a>
    </form>
</div>
